CLIENT_ID=31688921292-f84dl518dojjku2ng5hm77spg4qplb5i.apps.googleusercontent.com
CLIENT_SECRET=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
#GOOGLE_REDIRECT_URI=http://localhost:5173/auth/callback
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/google/redirect
JWT_SECRET=your_jwt_secret_here
POLLINATIONS_KEY=TU_API_KEY
